mat-card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  min-width: 250px;
  margin: 16px;
  cursor: pointer;
}

.align-top-right {
  position: absolute;
  top: 8px;
  right: 0;
}
