@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, app-root, app-note-view, app-notes-list {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #E0E0E0;
}
